
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Set your location</ion-title>
    <ion-buttons end>
      <button ion-button clear color="light" padding (click)="routeToHome()">skip</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <!--<ion-card>-->
  <img src="assets/images/map-image.jpg">
  <!--</ion-card>-->
  <p padding="">
    Please tell us where do you live so we can get you the best suitable courses near your house.
    <br>
    <br>
    You even can register your work location too
  </p>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-7>
        <button ion-button color="primary" col-12 (click)="activateGPS()">Locate me</button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-7>
        <button ion-button color="light" col-12 (click)="routeToManuallyLocation()">Manually</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
