<div>
  <ion-row class="category-Container" align-items-center>
    <div class="category-title" col-3>
      <div>
        <i [ngClass]="categoryCourses?.categoryIcon" aria-hidden="true"></i>
        <h4>{{categoryCourses?.categoryName}}</h4>
        <button ion-button clear (click)="routeToCategoryDetails()">View more</button>
      </div>
    </div>
    <ion-scroll scrollX="true" col-9>
      <ion-row class="thumbnail-container" nowrap align-items-center>
        <course-thumbnail [course]="course"
                          *ngFor="let course of categoryCourses.categoryCourses"></course-thumbnail>
      </ion-row>
    </ion-scroll>
  </ion-row>
</div>
