@import "../../theme/style-utility";

network-error-comp {
  .network-error-text {
    color: $mid;
    h5 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.5em;
    }
  }
  button {
    i {
      color: $dark;
    }
  }
}
